.current-weather-hourly {
  border: 1px solid #a8edea 0%, #fed6e3 100%;
  margin: 10px 0px;
  padding: 10px 20px;
  max-width: 1000px;
  border-radius: 15px;
  background-image: linear-gradient(to left, #a8edea 0%, #fed6e3 100%);
  box-shadow: 5px 5px 10px #f6f5f1;
}

.current-weather-hourly .card {
  border: transparent;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.04),
    -2px -2px 10px rgba(0, 0, 0, 0.04);
  flex-wrap: wrap;
  background-color: transparent;
  border-radius: 20px;
  margin: 5px;
}

.current-weather-hourly .col-md-4 {
  padding: 0px;
}

.current-weather-hourly .card-body {
  padding: 5px 10px;
  text-align: center;
}

.current-weather-hourly h5 {
  font-size: 18px;
  margin: 0;
}

.hourly-row-1 {
  padding-right: 0px;
}

.hourly-row-2 {
  padding-left: 0px;
}
