
.search-bar {
    border: 1px solid transparent 100%;
    margin: 20px 0;
    padding: 15px;
    max-width: 1000px;
    border-radius: 15px;
    background-color: #fdfdfd;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.04),
      -4px -4px 15px rgba(0, 0, 0, 0.04);
  }
  .btn-secondary {
    color: #48484a;
    background-color: white;
    border-color: white;
  }
  
  .btn-secondary:hover {
    background: #f8d8e4;
    border: #f8d8e4;
  }
  
  .btn-secondary:not(:disabled):not(.disabled).active {
    background: #48484a;
    border: #48484a;
  }
  