.container {
  font-family: "Quattrocento Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 950px;
  max-height: fit-content;
}
.left-side {
  margin: 25px 0px 10px 0px;
}

.right-side {
  margin: 10px 0px 10px 0px;
  padding-left: 0px;
}

/* Current Weather Box */

.current-weather {
  border: 1px solid #a8edea 0%, #fed6e3 100%;
  margin: 0px 0px 20px 0px;
  padding: 20px;
  max-width: 1000px;
  border-radius: 15px;
  background-image: linear-gradient(to left, #a8edea 0%, #fed6e3 100%);
  box-shadow: 5px 5px 10px #f6f5f1;
}

.current-weather .card {
  border-radius: 20px;
  border: transparent;
  background-color: transparent;
}

.current-weather .card-body {
  padding: 5px;
}

.current-weather .more-info {
  font-size: 14px;
}

.today-1 {
  padding: 0px;
}

.today-2 {
  padding: 0px;
}

.today-degrees {
  font-size: 40px;
  display: flex;
  justify-content: right;
  position: absolute;
  top: 50%;
  left: 80%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* Search Bar */

.search-bar {
  border: 1px solid transparent 100%;
  margin: 20px 0;
  padding: 15px;
  max-width: 1000px;
  border-radius: 15px;
  background-color: #fdfdfd;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.04),
    -4px -4px 15px rgba(0, 0, 0, 0.04);
}
.btn-secondary {
  color: #48484a;
  background-color: white;
  border-color: white;
}

.btn-secondary:hover {
  background: #f8d8e4;
  border: #f8d8e4;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  background: #48484a;
  border: #48484a;
}

/* Hourly Forecast */

.current-weather-hourly {
  border: 1px solid #a8edea 0%, #fed6e3 100%;
  margin: 10px 0px;
  padding: 10px;
  max-width: 1000px;
  border-radius: 15px;
  background-image: linear-gradient(to left, #a8edea 0%, #fed6e3 100%);
  box-shadow: 5px 5px 10px #f6f5f1;
}

.current-weather-hourly .card {
  border: transparent;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.04),
    -2px -2px 10px rgba(0, 0, 0, 0.04);
  flex-wrap: wrap;
  background-color: transparent;
  border-radius: 20px;
  margin: 3px;
}

.current-weather-hourly .col-sm-3 {
  padding: 0px 5px 5px 5px;
}

.current-weather-hourly .card-body {
  padding: 5px 10px;
  text-align: center;
}

.current-weather-hourly h5 {
  font-size: 18px;
  margin: 0;
}

.hourly-row-1 {
  padding-right: 7px;
}

.hourly-row-2 {
  padding-left: 7px;
}

/* Daily Forecast */

.weather-forecast {
  border: 1px solid #a8edea 0%, #fed6e3 100%;
  margin: 0px 100px 0px 0px;
  padding: 10px;
  max-width: 1000px;
  border-radius: 20px;
}

.weather-forecast .card {
  margin: 10px 0px;
  padding: 0;
  border-radius: 15px;

  background-image: linear-gradient(to right, #a8edea 0%, #fed6e3 100%);
  border: transparent;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.04), -2px -2px 8px rgba(0, 0, 0, 0.04);
  align-items: space-around;
}

.weather-forecast .card-body {
  padding: 5px 8px 0px 8px;
}

.weather-forecast h6 {
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 16px;
}

.forecast-dates {
  padding: 0px 10px 0px 0px;
}

.forecast-day {
  text-align: end;
}

.forecast-weather-info {
  text-align: center;
  font-size: 15px;
}

.forecast-icon {
  padding: 0px;
  margin: 0 auto;
}

.fas.fa-tint {
  color: #48484a;
  font-size: 13px;
}

/* IDs */

#current-date {
  margin-bottom: 15px;
  font-size: 14px;
}

#description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: x-large;
}

#search-bar-current-location {
  padding-right: 0px;
}

#toggle-button.btn-group.btn-group-toggle {
  padding-left: 15px;
}
button#location-now {
  border-radius: 10px;
  border: transparent;
  padding: 7px 6px 5px 6px;
  background-color: transparent;
  border-width: 1px;
}

#locationbutton:hover {
  color: #a8ecea;
  transition: color 0.15s ease-in-out;
}

#input-city-field {
  margin: 0px;
}
